//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Mon 09 16 17:56:49 2024

IO_LOC  "clk" 45;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC  "o_LED1" 10;
IO_PORT "o_LED1" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

// shift register #1 pins mapping
IO_LOC  "o_STCP_SR1" 13;
IO_PORT "o_STCP_SR1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_SHCP_SR1" 17;
IO_PORT "o_SHCP_SR1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_DS_SR1"   18;
IO_PORT "o_DS_SR1"   IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;

// shift register #2 pins mapping
IO_LOC  "o_STCP_SR2" 19;
IO_PORT "o_STCP_SR2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_SHCP_SR2" 20;
IO_PORT "o_SHCP_SR2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_DS_SR2"   21;
IO_PORT "o_DS_SR2"   IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;

// shift register #3 pins mapping
IO_LOC  "o_STCP_SR3" 22;
IO_PORT "o_STCP_SR3" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_SHCP_SR3" 23;
IO_PORT "o_SHCP_SR3" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_DS_SR3"   27;
IO_PORT "o_DS_SR3"   IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;

// digit indicator #1 pins mapping
IO_LOC  "o_STCP_DV1" 28;
IO_PORT "o_STCP_DV1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_SHCP_DV1" 29;
IO_PORT "o_SHCP_DV1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_DS_DV1"   30;
IO_PORT "o_DS_DV1"   IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;

// digit indicator #2 pins mapping
IO_LOC  "o_STCP_DV2" 34;
IO_PORT "o_STCP_DV2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_SHCP_DV2" 32;
IO_PORT "o_SHCP_DV2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC  "o_DS_DV2"   31;
IO_PORT "o_DS_DV2"   IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
